{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-8 lh-lg fs-5">

            <h1>Hello!!</h1>
            {{ "Welcome to PAVSSS BANK! Hooray! You are now our highest priority.
            Here some things to do while here: Register with us. Withdraw and deposit when you would like to under transaction mgmt.
            Check your balance and recent transations under dashboard. Get a glimpse of a programming welcome in the welcome page.
            Learn about fundemental knowledge to programming uder programming foundations.
            And learn about our CEO who put brought us all here, Pavly Rizk, in the about page.
            We hope you choose to bank with us. Let us know if you need any help." }}
        </article>
        {% if current_user.is_authenticated == false %}
            <aside class="col-4">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>
