<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/z-style.css') }}"/>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}"/>
        {% endblock %}

        <title>Pavsss Bank - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">

    {% endblock %}
</head>
<body>
<div class="container">

    <div class="row">
        <header class="mb-2">
            {% from 'bootstrap5/nav.html' import render_nav_item %}
            {% from 'bootstrap5/utils.html' import render_messages %}
            {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <img class="u-image u-image-default u-preserve-proportions u-image-2" src="../static/images/153996582-0.png" alt="" data-image-width="50" data-image-height="50">
                    <div class="navbar-nav mr-auto">
                        {% if current_user.is_authenticated %}
                            {{ render_nav_item('auth.dashboard','Dashboard' ) }}
                        {% else %}
                            {{ render_nav_item('simple_pages.index', 'Home') }}
                        {% endif %}
                        {{ render_nav_item('simple_pages.about','About') }}
                        {{ render_nav_item('simple_pages.welcome','Welcome') }}
                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Programming Foundations
                            </a>

                            <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="Git")}}">Git </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="docker")}}">Docker </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="python-flask")}}">Python/Flask </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="integrate-deploy")}}">Integrate & Deploy</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="Pylint")}}">Pylint </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="AAA-Testing")}}">Triple A</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="OOPs")}}">OOPs </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for("simple_pages.show", page="SOLID")}}">SOLID </a>
                                </li>

                            </ul>
                        </li>
                    </div>
                </div>
                <div class="navbar-nav d-flex">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                My Account
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for("auth.edit_profile") }}">Manage
                                    Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url_for("auth.edit_account") }}">Manage
                                    Account</a></li>
                                {% if current_user.is_admin %}
                                    <li><a class="dropdown-item" href="{{ url_for("auth.browse_users") }}">User Mgmt</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for("transactions.transactions_upload") }}">Transaction Mgmt</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for("transactions.transactions_browse") }}">Upload Transactions</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{{ url_for("auth.logout") }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        {{ render_nav_item('auth.register','Register' ) }}
                        {{ render_nav_item('auth.login','Login' ) }}
                    {% endif %}
                </div>
            </nav>
        </header>
    </div>
    <!-- Your page content -->
    <div class="row">
        {{ render_messages() }}
    </div>
    <div class="row mt-5">

        {% block content %}
        {% endblock %}
    </div>
</div>




{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}

{% endblock %}
<footer class="text-center mt-5">
    Environment: {{ deployment_environment }} - <img src="../static/images/5.png" alt="" data-image-width="50" data-image-height="50">  Copyright: {{ year }} {{ format_price(100000000) }} By: {{ "Pavly Rizk" }}
</footer>
</body>
</html>